<div class="sign-up-screen">
  <form>
      <mat-form-field>
        <input
          type="firstName"
          required
          matInput
          formControlName="firstName"
          id="firstNameControl"
          placeholder="First Name"
        >
        <mat-hint>John</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input
          type="lastName"
          required
          matInput
          formControlName="lastName"
          id="lastNameControl"
          placeholder="First Name"
        >
        <mat-hint>Smith</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input
          type="email"
          required
          matInput
          formControlName="email"
          id="emailControl"
          placeholder="Email"
        >
        <mat-hint>test@example.com</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          required
          matInput
          formControlName="password"
          id="passwordControl"
          placeholder="Password"
        >
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="signUp($event)">
          Sign Up
      </button>
    </form>
  </div>
