<mat-toolbar color="primary" [class.loggedin]="isLoggedIn()">
  <a mat-button [routerLink]="['/']" class="logo">
    <mat-icon aria-hidden="false" aria-label="application logo">verified_user</mat-icon>
    ComfyAuth
  </a>
  <span class="spacer"></span>
  <a
    mat-raised-button
    class="ml-2 sign-up-button"
    color="accent"
    [routerLink]="['/sign-up']"
    routerLinkActive="d-none"
    >Sign up</a
  >
  <a
    mat-raised-button
    class="ml-2 login-button"
    color="accent"
    [routerLink]="['/login']"
    routerLinkActive="d-none"
    >Login</a
  >
  <button
    (click)="logout()"
    color="accent"
    class="ml-2 logout-button"
    mat-raised-button
  >
    Logout
  </button>
</mat-toolbar>
